body{
    margin: 0;
    padding: 0;
}

.contact-place{
    border: 1.5px #00B207 solid;
}

.bg-main{
   background-color: #00B207
}

.bg-black-main{
    background-color: #333333;
}

.bg-black-main-2{
    background-color: #1A1A1A;
}

.bg-orange{
    background-color: #FF8A00;
}

.text-main{
    color: #00B207;
}

.col{
    color: #FF8A00;
}



.big-banner{
    background-image: url(./imgs/girl\ \ fruits&legume.jpg);
}

.small-banner-1{
    background-image: url(./imgs/sacetlegume.png);
    background-position: center;
}

.small-banner-2{
    background-image: url(./imgs/leafbackground.png);
}

.type-1{
    background-image: url(./imgs/sale-of-the-month.png);
}

.type-2{
    background-image: url(./imgs/low-fat-meet.png);
}

.type-3{
    background-image: url(./imgs/fresh-fruits.png);
}

.discount-container{
    background-image: url(./imgs/legume.jpg);
    height: 300px;
}

.insta-1{
    background-image: url(./imgs/Instagram\ Post.png);
    height: 150px;
}

.insta-2{
    background-image: url(./imgs/Instagram\ Post\ \(5\).png);
    height: 150px;
}

.insta-3{
    background-image: url(./imgs/Instagram\ Post\ \(1\).png);
    height: 150px;
}

.insta-4{
    background-image: url(./imgs/Instagram\ Post\ \(2\).png);
    height: 150px;
}

.insta-5{
    background-image: url(./imgs/Instagram\ Post\ \(3\).png);
    height: 150px;
}

.insta-6{
    background-image: url(./imgs/Instagram\ Post\ \(4\).png);
    height: 150px;
}

.contact-map{
    background-image: url(./imgs/Map\ Image.png);
    height: 300;
}

.w-15{
    width: 15%;
}

.h-100{
    height: 500px;
    font-family: sans-serif;
}

.contact-page-header{
    background-image: url(./imgs/Breadcrumbs.png);
    height: 100px;
}

@media screen and (max-width: 768px){
    .w-15{
        width: 30%;
    }
    .contact-page-header{
        display: none;
    }
    .contact-page-header{
        display: none;
    }
}